<app-base> </app-base>
 <div class="container">
    <ng-container >
        <div>
            <div class="form-group">
              Username: <input type="text" class="form-control" id="InputUsername" [(ngModel)]="username">
            </div>
            <div class="form-group">
              Password: <input type="password" class="form-control" id="InputPassword" [(ngModel)]="password">
            </div>
            <button type="submit" class="btn" (click)="login()">Submit</button>
          </div>
    </ng-container>
    </div>