<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">Products</a> 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/posts" class="nav-link">Product List</a> 
      </li>
    </ul>
    <ul class="navbar-nav mr-auto pull-right">
        <!-- *ngIf="!auth.isAuthenticated()" -->
      <li class="nav-item" *ngIf="!auth.isAuthenticated()">
        <a routerLink="/login" class="nav-link">Log In</a> 
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated()">
        <a class="nav-link" (click)="logout()">Log Out</a> 
      </li>
    </ul>
  </div>

</nav>

<br>
<div class="container">
  <div class="row justify-content-center">
    <ng-content></ng-content>
  </div>
</div>
