<!-- <header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/catalog">Catalog</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header> -->
<div id="header">
  <div class="container header"> 
    <header>
      
      <div class="mainmenu">
        <div id="mainmenu">
          <ul class="sf-menu">
            <li><a routerLink="/"><span class="home"><img src="images/home.png" alt="" /></span>Home</a></li>
            <li><a routerLink="/about"><span class="home"><img src="images/about.png" alt="" /></span>About</a></li>
            <li><a routerLink="/catalog"><span class="home"><img src="images/portfolio.png" alt="" /></span>Catalog</a>
              
            </li>
            <li><a routerLink="/contact"><span class="home"><img src="images/contact.png" alt="" /></span>Contact us</a></li>
          </ul>
        </div>
        
        
       
      </div>
    </header>
  </div>
</div>
