<div id="footer">
  <div class="container footer">
    <div class="row">
      <div class="col-3">
    
      <h3>Latest News</h3>
      <div id="tweets"></div>
   </div>
      <div class="col-3">
    
      <h3>Clubs</h3>
      <ul>
        <li class="lines"><a href="https://www.instagram.com/checkmat_kazakhstan/" title="">Brazilian jiu-jitsu</a></li>
        <li class="lines"><a href="https://www.instagram.com/basseinalmaty/" class="">Swimming</a></li>
        <li class="lines"><a href="https://www.instagram.com/judoalmaty/" class="">Judo</a></li>
        <li class="lines"><a href="https://www.instagram.com/ar_skating/" class="">Figure skating</a></li>

      </ul>
    </div>
     
      <div class="col-3">
   
      <h3>Archive</h3>
      <ul>
        <li class="lines"><a href="#" class=""> December 2018</a></li>
        <li class="lines"><a href="#" class="">January 2019</a></li>
        <li class="lines"><a href="#" class="">February 2019</a></li>
        <li class="lines"><a href="#" class=""> March 2019</a></li>
      </ul>
    </div>
      
      <div class="col-3">
    
      <h3>About</h3>
      <p>The website catalogue for the selection of different circles, Hobbies and clubs . On the site, you can select the categories of sports, languages, etc. For example, in sports, you can select winter sports or summer sports by category. After selecting a specific sport, a list of coaches and places. Also, each coach has a rating.  The site is not only a coach, but also a language teacher and so on.</p>
    </div>
      
    </div>
  </div>
