<app-base>
  <ng-container>
      <div class="container">
          <div class="row" name="header">
              <button type="button" class="btn btn-link btn-sm" (click)="navigateBack()">Go Back</button>
              <span><h2>Task List Detail query</h2></span>
          </div>
          <hr>
          <br>
          <div name="body">
            
              <h2>
              This is Detail page for Task List: 
              <strong>{{taskList.name}}</strong> with ID: 
              <strong> {{taskList.id}} </strong>
            </h2>
            
          </div>
      </div>
  </ng-container>
  
</app-base>