<app-base>
  <ng-container body>
      <div class="row">
          <button type="button" class="btn btn-link btn-sm" (click)="navigateBack()">Go Back</button>
          <span><h2>Tasks for Task List: {{taskList.name}}</h2></span>
      </div>
      <br>
      <div>
          <div>
              <label>Create Task</label>
              <hr>
              <div class="form-group">
                  <label for="taskname">Name</label>
                  <input type="text" class="form-control" id="taskname" [(ngModel)]="taskName" placeholder="Enter the name">
              </div>
              <div class="form-group">
                  <label for="taskdueon">Due On</label>
                  <input type="text" class="form-control" id="taskdueon" [(ngModel)]="taskDueOn" placeholder="Enter the limit">
              </div>
              <div class="form-group">
                  <label for="taskstatus">Status</label>
                  <input type="text" class="form-control datepicker" id="taskstatus" [(ngModel)]="taskStatus" placeholder="Enter the status">
              </div>
                <button type="submit" class="btn btn-primary" (click)="createTask()">Create</button>
          </div>
      </div>
      <br>
      <table class="table">
          <tr>
            <td>#</td>
            <td>Name</td>
            <td>Is Done?</td>
          </tr>
          <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>
              <a class="btn btn-info">{{task.status}}</a>
            </td>
            <td>
              <a routerLink="/tasks/{{task.id}}/">Details</a> 
            </td>
          </tr>
      </table>
    </ng-container>
</app-base>