<div class="blankSeparator"></div>
<div class="singleblog"> 

  <div class="two_third">
    <section class="postone">
      <h2>Central Swimming Pool </h2>
      
      <a href="images/section_details/main_view.jpg" class="prettyPhoto[gal]"><img src="http://thumb.nespi.1mag.kz/jKBcXPXKmFd8yJmDvUkRQXLoCH0=/filters:watermark(http://static.nespi.1mag.kz/s/img/watermark.png,-10,-10,50)/http://nespi.kz/media/places/photos/11/a0/7a/2d/11a07a2dd8991c27990d0e93cd6b9195.jpg" alt=""/></a>
      <p>Rakhat Fitness Sports Club has some of the best swimming pools in Kazakhstan. (Olympic Pool) 50 × 21 m, consisting of eight lanes; <br>
       25 × 21 m with seven tracks and one track with a false bottom (minimum depth 70 cm)
In the summer, our pool becomes the largest open-air reservoir within the city: in early May, the dome is removed and a spacious recreation area with mountain views is formed. Next to the pool there are sun loungers and a summer bar with gazebos. 
</p>
      <h4>The sports club is located in the city center. The nearest metro station is located five minutes walk from the club. Also nearby is the Central Stadium, the Palace of Sports. Baluan Sholak, Kazakh State Circus, Theater. M. Auezov. </h4>
      <p>Our coaches are coaches of the highest category, champions and prize-winners of various international championships, participants of the Olympic Games. Their pupils are winners of status competitions, such as, for example, Dmitry Balandin, the first representative of Kazakhstan in history who won the Olympic gold.</p>
     
    </section>
 <section class="comments">
      <div class="blankSeparator"></div>
           <div class="sepContainer2"></div>
      <h2>Comments</h2>
      <div class="sepContainer2"></div>
      <div class="blankSeparator"></div>
        <div class="boxtwosep"></div> 
      <div id="comments">
        <ul id="articleCommentList">
    
            <app-comment></app-comment>
             <app-comment></app-comment>
            </ul>
           
      </div>

    </section>
    <div id="contactForm">
      <h2>Leave a comment</h2>
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div id="contact_form">
        <div class="name">
          <label for="name">Your Name:</label>
          <p> Please enter your full name</p>
          <input id=name name=email type=text placeholder="e.g. Mr. John Smith" required />
        </div>
        <div class="email">
          <label for="email">Your Email:</label>
          <p> Please enter your email address</p>
          <input id=email name=email type=email placeholder="example@domain.com" required />
        </div>
        <div class="message">
          <label for="message">Your Message:</label>
          <p> Please enter your question</p>
          <textarea id=message name=message rows=6 cols=10 required></textarea>
        </div>
        <div id="loader">
          <input type="submit" value="Submit" />
        </div>
        </div>
      </form>
    </div>

  </div>

  <div class="one_third lastcolumn sidebar">
    <section class="first">
      <h3>"Rakhat" swimming pool</h3>
      <div class="boxtwosep"></div>
      <ul class="blogList">
        <li><a class="about" href="blog.html" title="">About club</a></li>
        <li class="activenavigationItem">Gallery</li>
        <li><a class="about" href="singleblog.html" title="">Our coaches</a></li>
      </ul>
    </section>

    <section class="third">
      <h3>Latest Sales</h3>
      <div class="boxtwosep"></div>
      <h5><span class="color">40%</span> </h5>
      <p>We provide opputunity to buy subscription with -15% sale!</p>
    </section>
  </div>

</div>


