  
<div class="container"> <div ng-app="">
        <div ng-show="true">
      
            <h2 ng-show="true" style="margin-left: 370px; color: blue">Зимние виды спорта</h2>
      
            <app-winter></app-winter>

      
        </div>
        <div ng-show="true">
      
            <h2 ng-show="true" style="margin-left: 370px;color: brown">Летние виды спорта</h2>
            
            <app-summer></app-summer>
      
        </div>
        <div ng-show="true">
      
            <h2 ng-show="true" style="margin-left: 420px;color: crimson">Искусство</h2>
        
            
            <app-art></app-art>
      
        </div>
        </div>
      
      
        </div>