
<app-carousel></app-carousel>

<div class="blankSeparator"></div>
<div class="container">
  <div class="info">
    <div class="one_third">
      <h2>New generation</h2>
       
      <p>All forms of <span class="red">physical activity</span> which, through casual and organised participation, aim at expressing or improving <span class="green">physical fitness and mental well-being</span> forming social relationships or obtaining results in competition at all levels.</p>
      <a href="https://europa.eu/youth/ie/article/67/16465_en">&rarr; see more</a> </div>
    <div class="two_third lastcolumn">
      <div class="one_half">
        <h2>Instagram</h2>
        <p>You can see our news about new sections, trainers, etc. on the Instagram pages. We usually post various reviews about sections, and if there are some questions about finding suitable sections, you can direct us. We are available for 24/7.</p>
        <a href="http://instagram.com/madendinara/">&rarr; see more</a> </div>
      <div class="one_half lastcolumn">
        <h2>Sections</h2>
        <p>You can find such sections, like brazilian jiu-jitsu, judo, swimming, fitness gyms, snowboard and skateboard, figure skating, stretching, and soon we will add other needed sections. There are a lot of the best trainers in Almaty.</p>
        <a href="http://instagram.com/madendinara/" title="" class="buttonhome">&rarr; see more</a> </div>
    </div>
  </div>
</div>


<div class="container clients">
  <div class="sepContainer"></div>
  <h2>Our Trainers</h2>
  <div class="row">
  <div class="col-2"><div class="one_sixth"> <img src="https://cdn24.img.ria.ru/images/rsport/111164/95/1111649514_0:0:3072:2048_600x0_80_0_0_18ef6747c857388d8f7f272387db7e04.jpg" alt=""/> </div></div>
  <div class="col-2"><div class="one_sixth"> <img src="https://s5o.ru/storage/simple/ru/edt/e5/9f/44/46/rue10d540ab92.jpg" alt=""/> </div></div>
  <div class="col-2"><div class="one_sixth"> <img src="https://cdn24.img.ria.ru/images/rsport/113185/90/1131859099_0:0:3000:2048_600x0_80_0_0_1b9b495f3c971c22bbfd0ffb979ab409.jpg" alt=""/> </div></div>
  <div class="col-2"><div class="one_sixth"> <img src="https://cdn24.img.ria.ru/images/rsport/111164/95/1111649514_0:0:3072:2048_600x0_80_0_0_18ef6747c857388d8f7f272387db7e04.jpg" alt=""/> </div></div>
  <div class="col-2"><div class="one_sixth"> <img src="https://cdn24.img.ria.ru/images/rsport/111164/95/1111649514_0:0:3072:2048_600x0_80_0_0_18ef6747c857388d8f7f272387db7e04.jpg" alt=""/> </div></div>
  <div class="col-2"><div class="one_sixth lastcolumn"> <img src="https://cdn24.img.ria.ru/images/rsport/111164/95/1111649514_0:0:3072:2048_600x0_80_0_0_18ef6747c857388d8f7f272387db7e04.jpg" alt=""/> </div></div>
</div>
</div>

<div class="container boxthree">
  <div class="sepContainer1"></div>
  <div class="blankSeparator"></div>
  <div class="row">
  <div class="col-1"><div class="one_third">
    <section class="boxthreeleft"> <img src="https://cdn-img.instyle.com/sites/default/files/styles/684xflex/public/1462460968/GettyImages-521902683.jpg?itok=qLWKNVCM" alt=""/>
      <h3>Kids aged from 8 to 15</h3>
      <p>Sport is an important learning environment for children and other people aged till 8.</p>
      <a class ="simple" href="https://novakdjokovicfoundation.org/the-importance-of-sports-for-children/">+ Read more</a> </section>
  </div>
  </div>
  <div class="col-1">
  <div class="one_third">
    <section class="boxthreecenter"> <img src="http://www.theparentreport.com/wp-content/uploads/2012/06/MP900438381-1024x681.jpg" alt=""/>
      <h3>Teens aged from 16 to 19</h3>
      <p>Playing sports helps in staying fit. This is not the only benefit teen will have.</p>
      <a class ="simple" href="#">+ Read more</a> </section>
  </div>
  </div>
  <div class="col-1">
  <div class="one_third lastcolumn">
    <section class="boxthreeright"> <img src="https://cdn.images.express.co.uk/img/dynamic/11/590x/secondary/Middle-aged-men-playing-sports-1072421.jpg" alt=""/>
      <h3>People aged till 60</h3>
      <p>A fit 60-year-old can feel more vital and energetic than an unfit 25-year-old.</p>
      <a class ="simple" href="#">+ Read more</a> </section>
  </div>
  </div>
</div>
</div>

  <div class="blankSeparator1"></div>


<!-- <div>
<owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let image of images;let i= index">
      <img class="slide-image" src="{{image.image}}" >
      <div class="slide-text">
        <h4>{{image.text}}</h4>
      </div>
    </div>
  </owl-carousel>
</div>
 -->