<app-base></app-base>
<section class="portfolio" id="portfolio">
    <div  class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">{{categoryList.name}}</h2>
      <hr class="star-dark mb-5">
      <p>{{categoryList.description}}</p>
      <hr class="star-dark mb-5">
      <div *ngFor="let image of images" >
          <div class="row">
        <div class="col-md-6 ">
            
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            
            <img  width="300px" height="300px"  class="img-fluid rounded-circle" src="{{image.image}}" alt="">
          </a>
          
          
        </div>
        </div>
        
        
        
      </div>
      <hr class="star-dark mb-5">
      <h2 class="text-center text-uppercase text-secondary mb-0">Sections</h2>
      <div *ngFor="let section of sections" class="container">
    <a routerLink="/section/{{section.id}}/">{{section.name}}</a> 
    
    <p>{{section.description}}</p>
    <img width="300px" class = "img-fluid rounded-circle col-6"  src="{{section.image}}">
</div>
    </div>
  </section>