<div class="flexslider">
  <ul class="slides">
    <li> <a href="#"><img src="https://events.uaejjf.org/pictures/t/1351-eqe6/uae-jiu-jitsu-federation-abu-dhabi-grand-slam-los-angeles-tons-of-thrills-in-two-days-of-outstanding-jiu-jitsu-2017.jpg" height="700px" width="4000px" alt=""/></a> </li>
    <li> <img src="https://events.uaejjf.org/pictures/t/1351-eqe6/uae-jiu-jitsu-federation-abu-dhabi-grand-slam-los-angeles-tons-of-thrills-in-two-days-of-outstanding-jiu-jitsu-2017.jpg" height="700px" width="4000px" alt="" /> </li>
    <li> <a href="#"><img src="https://events.uaejjf.org/pictures/t/1351-eqe6/uae-jiu-jitsu-federation-abu-dhabi-grand-slam-los-angeles-tons-of-thrills-in-two-days-of-outstanding-jiu-jitsu-2017.jpg" height="700px" width="4000px" alt="" /></a>
      
    </li>
  </ul>
</div>