
  <li>
            <div class="commentMeta">
              <p>15 November,2018</p>
              <img class="user" src="images/section_detail/1.png" alt="Default user icon" /> </div>

            <div class="commentBody">
              <h3><a href="#">{{ commentAuthor1 }}</a></h3>
              <p>Both my children have visiting this "Rakhat" swimming pool for long, actually cannot define but about 5-6 years. From very beginners(neigher my son or daughter could not swim at all) they raise to medalists! I am very thankful to our coachers and the pool itself.</p>
              <a href="#" class="buttonhome fl">more <span>+</span></a> </div>

          </li>
